<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>LoginConfirm</servlet-name>
    <servlet-class>com.servlet.LoginConfirm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentLoginSvlt</servlet-name>
    <servlet-class>com.servlet.StudentLoginSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherLoginSvlt</servlet-name>
    <servlet-class>com.servlet.TeacherLoginSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLoginSvlt</servlet-name>
    <servlet-class>com.servlet.AdminLoginSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentSvlt</servlet-name>
    <servlet-class>com.servlet.StudentSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherSvlt</servlet-name>
    <servlet-class>com.servlet.TeacherSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CourseSvlt</servlet-name>
    <servlet-class>com.servlet.CourseSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClassesSvlt</servlet-name>
    <servlet-class>com.servlet.ClassesSvlt</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>LoginConfirm</servlet-name>
    <url-pattern>/LoginConfirm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentLoginSvlt</servlet-name>
    <url-pattern>/StudentLoginSvlt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherLoginSvlt</servlet-name>
    <url-pattern>/TeacherLoginSvlt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginSvlt</servlet-name>
    <url-pattern>/AdminLoginSvlt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentSvlt</servlet-name>
    <url-pattern>/StudentSvlt</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>TeacherSvlt</servlet-name>
    <url-pattern>/TeacherSvlt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourseSvlt</servlet-name>
    <url-pattern>/CourseSvlt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClassesSvlt</servlet-name>
    <url-pattern>/ClassesSvlt</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>jsp/Login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
